
     /* Reseo por default de margin y padding */
    
    * {
    
        margin: 0;
        padding: 0;
    
    }
    
    /* Incluyo las fuentes a utilizar en mis vistas */
    
    @font-face {
    
        font-family: Pacifico-Regular;
        src: url("fonts/Pacifico/Pacifico-Regular.ttf");
    
    }
    
    /* Estilos del Body */
    body {
    
        background-image: url("images/background.jpg");
        background-size:cover;
  
        display: flex;
        flex-direction: column;
           
    }
    
    .index-container{
    
        display: grid;
    
        grid-template-rows: auto;
        border: 4px black   solid;
    
        grid-template-areas: 
        'header'
        'title-description'
        'carousel'
        'carousel'
        'footer';
    }
    
    .header {
    
        grid-area: header;
        
    }
    
    .title-description{
    
        grid-area: title-description;
    
    }
    
    .carousel {
    
        grid-area: carousel;
        grid-row-start: 3 / 4;
        display: flex;
        justify-content: center;
        margin-top: 0.1%;
    
    }
    
    .footer {
    
        grid-area: footer;
        margin-top: auto;
    
    }
    
    
    .header-container  {
    
        background-color:rgba(71, 71, 73, 0.9);
        display: flex;
        justify-content: space-around;
        /* height: 100%; */
        font-family: Pacifico-Regular;
        font-size: 22px;
    
    }

    /* Probando media query para mobile, deberia adaptarse el contenedor
    de la barra de navegación, título y descripción  */
   
  @media screen and (max-width: 480px) {
    
 
        
  }
    
    /* Con los siguientes estilos hago que los links se pongan en horizontal, centrados y espaciados*/
    
    .nav-links {
    
        display: flex;
        align-items: center;
        flex-direction: row;
    
    }
    
    .nav-links ul {
    
        display: flex;
        
    }
    
    .nav-links li {
    
        list-style-type: none;
        
    }
    
    .nav-links ul li a , .logo{
        
        text-decoration: none;
        color: rgb(247, 245, 243);
        margin: 20px;
        display: flex;
        align-items: center;
        
    }
    
    .logo a {
       
        color: rgba(212, 163, 68, 1);
    
    }
    
    
    /* Fin de estilos para los links de la barra y el header*/
    
    /* Estilos para el título y la descripción del index */
    
    .title {
    
        display: flex;
        justify-content: center;
        margin-top: 1.2%;
            
    }
    
    .title h1{
    
        font-family: Pacifico-Regular;
        font-size: 35px;
        color: rgba(212, 163, 68, 1);
        text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
        
    }
    
    .description {
    
        display: flex;
        justify-content: center;
    
    }
    
    .description p {
    
        font-family: Pacifico-Regular;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        margin: 0.3% 3% 0.1% 3%;
    
    }
    
    /* Fin de estilos para la sección de título y descripción del index*/
    
    
    /* Estilos para el footer */
    
    .footer-container{
    
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        background-color:rgba(71, 71, 73, 0.9);
        margin-top: 2.5%;
        
        
    }
    
    /* Nuestras redes */
    
    .social-media-table ul{
    
        display: flex;
        justify-content: center;
        
    
    }
    
    .social-media-table li{
    
        display: flex;
        ;
    
    }
    
    /* Links de interés */
    .interest-links li {
    
        display: flex;
        flex-direction: column;
        list-style-type: none;
        
    }
    
    .interest-links a {
        color: black;
    }
    
    /* Ubicación */
    .location h4 {
    
        display: flex;
        justify-content: center;
        margin-bottom: 1%;
    }
    
    
    /* Fin de estilos para el footer */
    
    /* Estilos para el body en general */
    
    p {
        color:rgb(247, 245, 243);
    }
    
    h4 {
        
        font-family: Pacifico-Regular;
        font-size: 20px;
        color: rgb(247, 245, 243);
        text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
        
    
    }
    
    /* Fin de estilos del Body*/
    
    
    /* Estilos para service container */
    
    
    .services-grid{
    
        width: 60%;
        margin: 3% 0% 3% 0%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: row;
        
    }
    
    .first-item{
        
        order: -1;
    
    }
    
    .last-item {
        
        order: 1;
    
    }
    
    .texto-imagenes-servicios {
        
        width: 80%;
    
    }
    
    /* Fin estilos para service container */
    
    /* Estilos para quienesSomos escribanos */
    
    .escribanos-grid{
    
        width: 60%;
        margin: 3% 0% 3% 0%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: column;
        
    }
    
    /*
    .escribanos {
    
        display: flex;
            
    }
    
    .escriText{
        display:inline-block;
    
    }
    
    .escribano1 {
        float: left;
        display: flex;
        flex-wrap: wrap;
    }
    
    .escribano2 {
        float: right;
    }*/
    
    /* Fin estilos para quienesSomos escribanos */
    
    .covid-description {
        display: flex;
        justify-content: center;
    }
    
/* Acá incluyo la animación de mi index al hacer hover con el mouse */
.nav-links {
    
}
