<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto - Escribanía La Pluma</title>

    <!-- librería css-->
    <link rel="stylesheet" href="../css/style.css">

</head>
<body>
    
    <main class="index-container">


        <!-- Header section-->
        
        <div class="grid-item header">

            <header class="header-container">
                        

                    <div class="logo">

                        <a href="../index.html">
                            <!-- acá va el logo-->
                            <img src="../images/lapluma.png" alt="Escribanía La Pluma">
                            Escribanía La Pluma
                        </a>

                    </div>
                    
                    <!-- Navigation bar section-->

                    <nav class="nav-links">

                            <ul>
                                <li>
                                    <a href="../index.html">Inicio</a>
                                </li>
                                <li>
                                    <a href="quienesSomos.html">¿Quiénes Somos?</a>
                                </li>
                                <li>
                                    <a href="servicios.html">Servicios</a>
                                </li>
                                <li>
                                    <a href="contacto.html">Contacto</a>
                                </li>
                                <li>
                                    <a href="covid-19.html">Covid-19</a>
                                </li>  
                            </ul>

                    </nav>

                    <!-- End of navigation bar section-->


            </header>
   
        </div>

        <!-- End of header section-->

        <!-- Contact section-->

        <h2>Contactanos</h2>
        
        <img src="../images/phone.png" alt="Phone">
            <p>+54 9 (11) 0000-0000 </p>

        <a href="whatsappref.com">
            <img src="../images/whatsapp.png" alt="Whatsapp">
            <p>+54 9 (11) 0000-0000 </p>
        </a>

        <a href="emailref.com">
            <img src="../images/email.png" alt="Email">
            <p>escribanialapluma@gmail.com </p>
        </a>

        <!-- End of contact section-->
        
        
        <!-- Contact fields section-->
        
        <h2>Envianos tu consulta</h2>

        <div id="fullName">
            <p>
                <input type="text" class="customInput" placeholder="Nombre y apellido">
            </p>
        </div>

        <div id="phoneNumber">
            <p>
                <input type="text" placeholder="Número de teléfono">
            </p>
        </div>
        
        <div id="email">
            <p>
                <input type="text" placeholder="Email">
            </p>
        </div>
            
        <div id="reasonOfContact">
            <p> 
            <input type="text" placeholder="Describa el motivo de su consulta">
        </p>
        </div>

        <div id="submitButton">
            <p>
                <button type="submit">
                    Enviar
                </button>
            </p>
        </div>

        <!-- End of fields table section-->
        
        
        
        <!-- Footer section-->

        <div class="grid-item footer">
            <!-- Footer section-->

            <footer class="footer-container">

                

                    <!-- social media section-->
            
                    <nav class="social-media-table">

                        <h4>Nuestras Redes</h4>

                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/escribanialapluma" target="_blank">
                                    <img src="../images/facebook.png" alt="Escribanía La Pluma Facebook">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/escribanialapluma" target="_blank">
                                    <img src="../images/linkedin.png" alt="Escribanía La Pluma Linkedin">
                                    </a>
                                </li>
                            </ul>
                    </nav>
                
                    <!-- End of social media-->
                    
                    <!-- Interest links section-->

                    <nav class="links-container">
                    
                        <h4>Links de interés</h4>

                
                        <ul class="interest-links">
                            <li>
                                <a href="www.link1.com" target="_blank">Constancia de Cuil</a>
                            </li>
                            
                            <li>
                                <a href="www.link1.com" target="_blank">Colegio de Escribanos</a>
                            </li>
                            
                            <li>
                                <a href="www.link1.com" target="_blank""">AGIP</a>
                            </li>
                            
                            <li>
                                <a href="www.link1.com" target="_blank""">AFIP Online</a>
                            </li>
                            
                            <li>
                                <a href="www.link1.com" target="_blank">RENAPAER</a>
                            </li>
                            
                            <li>
                                <a href="www.link1.com" target="_blank">Otro link 1</a>
                            </li>
                            
                            <li>
                                <a href="www.link1.com" target="_blank">Otro link 2</a>
                            </li>
                            
                            <li>
                                <a href="www.link1.com" target="_blank">Otro link 3</a>
                            </li>
                            
                            <li>
                                <a href="www.link1.com" target="_blank">Otro link 4</a>
                            </li>
                        </ul>

                    </nav>
            
                    <!-- End of links secttion-->
                
                    <!-- Location section-->

                    <section class="location">
                
                    <h4>¿Dónde estamos?</h4>
                
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3285.1908416777364!2d-58.442445384920575!3d-34.5740373804672!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb5c0076bd2a9%3A0xc234d30b75ed4b7d!2sZapata%20300-220%2C%20C1426AED%20CABA!5e0!3m2!1ses-419!2sar!4v1642376786126!5m2!1ses-419!2sar" width="400" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe> 
            
                    </section>

                    <!-- End of location section-->

            </footer>

        </div>

        <!--End of footer-->

    </main>


</body>
</html>