<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>   

    <!-- Fuente-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- librería css-->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

    <!--Iconos-->
    <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>

    <!-- Favicon -->
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <!-- Meta -->
    <meta name="description" content="Notaría en Buenos Aires. Las 24 horas atentos para poder brindarle ayuda en lo que necesite (Contratos, Certificaciones y Más) ¡Contáctenos!)">

    <!-- Meta kw -->
    <meta name="keywords" content="Escribanía, Servicios notariales, sucesiones, actas, poderes, autorizaciones de viaje, compraventa de inmuebles, donaciones, protocolizaciones">

    <!-- Open graph -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="¿Quiénes Somos? | Escribía La Pluma - Servicios Notariales">
    <meta property="og:url" content="https://www.escribanialapluma.com">
    <meta property="og:image" content="https://www.escribanialapluma.com/images/lapluma.svg">

    <title>Contacto | Escribanía La Pluma - Servicios Notariales</title>

</head>
<body>
    
        <!-- Header section-->
        
        <!-- Navigation bar section-->
        <div class="nav-var">

            <header>                      
        
            
                <nav>
                    <ul>
                        <li class="logo"><a href="../index.html">
                            <img src="../images/lapluma.png" alt="Escribanía La Pluma">
                            Escribanía La Pluma</a>
                        </li>             
                        <li class="items"><a href="../index.html">Inicio</a></li>
                        <li class="items"><a href="quienesSomos.html">¿Quiénes Somos?</a></li>
                        <li class="items"><a href="servicios.html">Servicios</a></li>
                        <li class="items"><a href="contacto.html">Contacto</a></li>
                        <li class="items"><a href="covid-19.html">Covid-19</a></li>
                        <li class="btn"><a href="#"><i class="fas fa-bars"></i></a></li>
                    </ul>
                </nav>

            </header>
        <!-- End of Header-->

        </div>
         <!-- End of navigation bar section-->
        
        <!-- Contact section -->
        <section class="contact">

            <div class="content">
                 <h2>Contáctenos</h2>
                 <p>A continuación le brindamos nuestros medios de contacto para que usted pueda rápidamente obtener una solución a su inquietud:</p>
            </div>

            <div class="container">
                <div class="contactInfo">

                    <div class="box">
                        <div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                        <div class="text">
                            <h3>Dirección</h3>
                            <p>Zapata 300, <br>CABA, Argentina,<br>1426</p>
                        </div>
                    </div>

                    <div class="box">
                        <div class="icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
                        <div class="text">
                            <h3>Llamadas</h3>
                            <p>+54 9 11 333333</p>
                        </div>
                    </div>

                    <div class="box">
                        <div class="icon"><i class="fa fa-whatsapp" aria-hidden="true"></i></div>
                        <div class="text">
                            <h3>Whatsapp</h3>
                            <p>+54 9 11 444444</p>
                        </div>
                    </div>

                    <div class="box">
                        <div class="icon"><i class="fa fa-envelope" aria-hidden="true"></i>
                        </div>
                        <div class="text">
                            <h3>Email</h3>
                            <p>escribanialapluma@elmail.com</p>
                        </div>
                    </div>

                </div>
                <!-- End of Contact section -->

                <!-- Contact form section -->
                <div class="contactForm">
                    <form>

                         <h2>Envíenos un mensaje</h2>

                         <div class="inputBox">
                             <input type="text" name="" required="required">
                             <span>Nombre y Apellido</span>
                         </div>

                         <div class="inputBox">
                             <input type="text" name="" required="required">
                             <span>Email</span>
                         </div>

                         <div class="inputBox">
                            <input type="text" name="" required="required">
                            <span>Número de teléfono</span>
                        </div>

                        <div class="inputBox">
                             <textarea required="required"></textarea>
                             <span>Escriba su mensaje...</span>
                         </div>

                        <div class="inputBox">
                             <input type="submit" name="" value="Enviar">
                         </div>

                    </form>
                                                      
                 </div>   


            </div>

        </section>
        <!-- End of Contact form section -->

        <!-- Footer section -->

        <footer class="pie-pagina">

            <div class="grupo-1">

                <div class="box">
                    <h2>Nuestras Redes</h2>

                    <div class="red-social">
                        <a href="https://www.facebook.com/escribanialaplum" class="fa fa-facebook"></a>                                              </a>
                        <a href="#https://www.linkedin.com/escribanialapluma" class="fa fa-linkedin"></a>
                        
                    </div>
                </div>

                <div class="box">
                    <h2>Links de Interés</h2>

                    <ul class="interest-links">
                        <li>
                            <a href="www.link1.com" target="_blank">Constancia de Cuil</a>
                        </li>                        
                        <li>
                            <a href="www.link1.com" target="_blank">Colegio de Escribanos</a>
                        </li>                          
                        <li>
                            <a href="www.link1.com" target="_blank""">AGIP</a>
                        </li>                           
                        <li>
                            <a href="www.link1.com" target="_blank""">AFIP Online</a>
                        </li>                           
                        <li>
                            <a href="www.link1.com" target="_blank">RENAPAER</a>
                        </li>                          
                        <li>
                            <a href="www.link1.com" target="_blank">Registro de la Propiedad</a>
                        </li>                           
                       
                    </ul>

                </div>

                <div class="box">
                    <h2>¿Dónde Estamos?</h2>

                    <div class="embed-container">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3285.1908416777364!2d-58.442445384920575!3d-34.5740373804672!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb5c0076bd2a9%3A0xc234d30b75ed4b7d!2sZapata%20300-220%2C%20C1426AED%20CABA!5e0!3m2!1ses-419!2sar!4v1642376786126!5m2!1ses-419!2sar" width="400" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe> 
                    </div>

                </div>
                
            </div>
            
            <div class="grupo-2">
                <p>&copy; 2022 <b>JuaniWi</b> - Todos los Derechos Reservados.</p>
            </div>

        </footer>  
        
        <!-- End of footer section -->
            
</div>

    <script>
    $(document).ready(function(){
        $('.btn').click(function(){
        $('.items').toggleClass("show");
        $('ul li').toggleClass("hide");
        });
    });
    </script>


</body>
</html>