<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- librería css-->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    
    <!--Iconos-->
    <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>

    <!-- Favicon -->
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <!-- Meta -->
    <meta name="description" content="Notaría en Buenos Aires. Elaboramos Contratos, Certificaciones y Más. ¡Contáctenos! Pida Asesoramiento. Certificaciones de Firma. Poderes Especiales. Revocatorias de Poderes.">

    <!-- Meta kw -->
    <meta name="keywords" content="Escribanía, Servicios notariales, sucesiones, actas, poderes, autorizaciones de viaje, compraventa de inmuebles, donaciones, protocolizaciones">

     <!-- Open graph -->
     <meta property="og:type" content="website">
     <meta property="og:title" content="Servicios | Escribía La Pluma - Servicios Notariales">
     <meta property="og:url" content="https://www.escribanialapluma.com">
     <meta property="og:image" content="https://www.escribanialapluma.com/images/lapluma.svg">

     <title>Servicios | Escribía La Pluma - Servicios Notariales</title>

   </head>
<body>
    
    <div class="services-container">

        <div class="nav-var">

            <header>                      
           
                <!-- Navigation bar section-->
                <nav>
                    <ul>
                        <li class="logo"><a href="../index.html">
                            <img src="../images/lapluma.png" alt="Escribanía La Pluma">
                            Escribanía La Pluma</a>
                        </li>             
                        <li class="items"><a href="../index.html">Inicio</a></li>
                        <li class="items"><a href="quienesSomos.html">¿Quiénes Somos?</a></li>
                        <li class="items"><a href="servicios.html">Servicios</a></li>
                        <li class="items"><a href="contacto.html">Contacto</a></li>
                        <li class="items"><a href="covid-19.html">Covid-19</a></li>
                        <li class="btn"><a href="#"><i class="fas fa-bars"></i></a></li>
                    </ul>
                 </nav>

                <!-- End of navigation bar section-->

            </header>
        </div>

    <!-- Services section-->

        <div class="services">            
                
            <div class="services first-item">
                <div class="contenedor">
                    <figure>
                        <img src="../images/servicios-1.jpg" alt="">
                    <div class="capa">
                        <h3>Asesoramiento Notarial</h3>
                        <p>La Escribanía La Pluma ofrece asesoriamento en diversas cuestiones notariales, como ser: compraventa de inmuebles; protección de la vivienda familiar; donaciones y testamentos; contratos y muchas más. </p>
                    </div>
                    </figure>
                </div>
            </div>

            <div class="services second-item">
                <div class="contenedor">
                    <figure>
                        <img src="../images/servicios-2.jpg" alt="">
                    <div class="capa">
                        <h3>Autorizaciones de viaje al exterior</h3>
                        <p>Certificamos su autorización de viaje para su hijo/a para presentar ante La Dirección Nacional de Migraciones.</p>
                    </div>
                    </figure>
                </div>
            </div>

            <div class="services third-item">
                <div class="contenedor">
                    <figure>
                        <img src="../images/servicios-3.jpg" alt="">
                    <div class="capa">
                        <h3>Poderes Generales y Especiales</h3>
                        <p>Los poderes más habituales son para cuestiones judiciales y para la administración de bienes, pero se pueden otorgar para todo tipo de actos.</p>
                    </div>
                    </figure>
                </div>
            </div>

            <div class="services fourth-item">
                <div class="contenedor">
                    <figure>
                        <img src="../images/servicios-4.jpg" alt="">
                    <div class="capa">
                        <h3>Compraventa de inmuebles</h3>
                        <p>La escribanía asesora a sus clientes en todos los aspectos de la operación y se encarga de toda la gestión para la firma e inscripción de la operación en el registro público correspondiente.</p>
                    </div>
                    </figure>
                </div>
            </div>

            <div class="services fifth-item">
                <div class="contenedor">
                    <figure>
                        <img src="../images/servicios-5.jpg" alt="">
                    <div class="capa">
                        <h3>Donaciones y Testamentos</h3>
                        <p>Las donaciónes requieren del escribano para que la acción no sea observable en el futuro. Los testamentos son otro tema asociado a las donaciónes que requiere de un escribano para poder dejar registrado el acto.</p>
                    </div>
                    </figure>
                </div>
            </div>

            <div class="services last-item">
                <div class="contenedor">
                    <figure>
                        <img src="../images/servicios-6.jpg" alt="">
                    <div class="capa">
                        <h3>Protocolizaciones</h3>
                        <p>Incorporación de documentos o actas a un "protocolo notarial" acreditando su existencia (puede tratarse de un contrato o de otro tipo de documento).</p>
                    </div>
                    </figure>
                </div>
            </div>

 
        </div>

        <div class="footer">

            <footer class="pie-pagina">

                <div class="grupo-1">

                    <div class="box">
                        <h2>Nuestras Redes</h2>

                        <div class="red-social">
                            <a href="https://www.facebook.com/escribanialaplum" class="fa fa-facebook"></a>                                              </a>
                            <a href="#https://www.linkedin.com/escribanialapluma" class="fa fa-linkedin"></a>
                            
                        </div>
                    </div>

                    <div class="box">
                        <h2>Links de Interés</h2>

                        <ul class="interest-links">
                            <li>
                                <a href="www.link1.com" target="_blank">Constancia de Cuil</a>
                                
                            </li>                        
                            <li>
                                <a href="www.link1.com" target="_blank">Colegio de Escribanos</a>
                            </li>                          
                            <li>
                                <a href="www.link1.com" target="_blank""">AGIP</a>
                            </li>                           
                            <li>
                                <a href="www.link1.com" target="_blank""">AFIP Online</a>
                            </li>                           
                            <li>
                                <a href="www.link1.com" target="_blank">RENAPAER</a>
                            </li>                          
                            <li>
                                <a href="www.link1.com" target="_blank">Otro link 1</a>
                            </li>                           
                            <li>
                                <a href="www.link1.com" target="_blank">Otro link 2</a>
                            </li>                           
                            <li>
                                <a href="www.link1.com" target="_blank">Otro link 3</a>
                            </li>                          
                            <li>
                                <a href="www.link1.com" target="_blank">Otro link 4</a>
                            </li>
                        </ul>

                    </div>

                    <div class="box">
                        <h2>¿Dónde Estamos?</h2>

                        <div class="embed-container">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3285.1908416777364!2d-58.442445384920575!3d-34.5740373804672!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb5c0076bd2a9%3A0xc234d30b75ed4b7d!2sZapata%20300-220%2C%20C1426AED%20CABA!5e0!3m2!1ses-419!2sar!4v1642376786126!5m2!1ses-419!2sar" width="400" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe> 
                        </div>

                    </div>
                    
                </div>
                
                <div class="grupo-2">
                    <small>&copy; 2022 <b>JuaniWi</b> - Todos los Derechos Reservados.</small>
                </div>

            </footer>


        </div>

      </div>

      <script>
        $(document).ready(function(){
          $('.btn').click(function(){
            $('.items').toggleClass("show");
            $('ul li').toggleClass("hide");
          });
        });
     </script>
    
</body>
</html>