//Estilos para el background de las vistas

* {
    
    margin: 0;
    padding: 0;
 
}

/* Incluyo las fuentes a utilizar en mis vistas */
    
@font-face {
    
    font-family: ChakraPetch-Light;
    src: url("../fonts/Chakra_Petch/ChakraPetch-Light.ttf");
  
  }
  
  /* Estilos del Body */
  body {
      
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(45,45,51,1) 35%, rgba(44,54,56,1) 100%);
         
  }

  