@import '../base/extends';
@import '../base/maps';

/* Estilos para la vista de escribanos */

.escribanos {
   
    @extend %acomodador;
    flex-direction: map-get($losEscri, direccion);
    column-gap: map-get($losEscri, espacio);
    margin-top: map-get($losEscri, margen-arriba);
    margin-bottom: map-get($losEscri, margen-abajo);
    
  }
  
  
  /* Fin de Estilos para la vista de escribanos */