@import'../base/variables';
@import '../base/extends';
@import '../base/maps';

/* Estilos para la vista de escribanos */

.escribanos {
   
    @extend %acomodador;
    flex-direction: map-get($losEscri, direccion);
    column-gap: map-get($losEscri, espacio);
    margin-top: map-get($losEscri, margen-arriba);
    margin-bottom: map-get($losEscri, margen-abajo);
    
  }

  //Cambio el color del botón de bs
  .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: $my-color !important;
}

.card-header { 
  color: black;
  text-align: center;
}
  
  /* Fin de Estilos para la vista de escribanos */