@import'../base/variables';
@import '../base/extends';
@import '../base/maps';

/* Estilos para la vista de escribanos */

.escribanos {
   
    @extend %acomodador;
    flex-direction: map-get($losEscri, direccion);
    column-gap: map-get($losEscri, espacio);
    margin-top: map-get($losEscri, margen-arriba);
    margin-bottom: map-get($losEscri, margen-abajo);
    
  }

  //Cambio el color del botón de bs
  .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: $my-color !important;
}

.card-header { 
  color: black;
  text-align: center;
}
  
  /* Fin de Estilos para la vista de escribanos */

  // Responsive celular
 @media (max-width:320px) {
  .escribanos{
    flex-direction: column;
    align-items: center;
    margin-top: 1%;
  }

  .card {
    width: 16rem!important;
  }

}

// Reponsive tablet
@media (min-width:321px) and (max-width:768px) {
  .escribanos{
    flex-direction: column;
    align-items: center;
    margin-top: 1%;
  }

  .card {
    width: 23rem!important;
  }
  
}