@import '../base/extends';
@import 'mixins.scss';
@import'../base/variables';

// Estilos para grid del index

.index-container {  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.3fr 0.4fr 2.6fr ; 
    gap: 3px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "nav-var"
      "title"
      "description"
      "photogrid";
      /* "footer"; */
  }
  
  .nav-var { 
            grid-area: nav-var;
    
    }
  
  .title { 
      grid-area: title; 
      @extend %acomodador;
}
  
  .description { 
      grid-area: description;
      display: flex;
     }
  
  .photogrid { 
      grid-area: photogrid;
      @extend %acomodador;
      margin-bottom: 3%;
     }

     //Fin de estilos para grid

     /* Estilos para la sección del título del index.html*/

.title h1 {

    //Aplico mixin y uso de variable
    @include titleStyle(35px,#d4a344, $sw-shadow-title, text-scale 1s ease 1s 1 normal forwards );

}

@keyframes text-scale {
    0% {
      transform: scale(0.5);
    }
    
    100% {
      transform: scale(1);
    }
  }

/* Fin de estilos para la sección del título del index.html */

/* Estilos para la sección de la descripción del index.html*/
.description {
    
    @extend %acomodador;

}

.description p {
    
    font-family: ChakraPetch-Light;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin: 0.3% 3% 0.1% 3%;
}

/* Fin de estilos para la sección de la descripción del index.html*/

/* Estilos para la sección del carousel del index.html*/


/* Para un comportamiento responsive */


@media screen and (max-width:480px) {
    .photogrid {
        padding: 0px 20px;
    }
    
}

/* Fin de estilos para la sección del carousel del index.html*/